services:
  bot:
    image: ghcr.io/qusakabi/telegram_id_bot:latest
    container_name: telegram_id_bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TONAPI_TOKEN=${TONAPI_TOKEN}
      - ETHERSCAN_TOKEN=${ETHERSCAN_TOKEN}
    ports:
      - "8000:8000"
    volumes:
      - ./wallets.json:/app/wallets.json
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command: --config.file=/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources

volumes:
  grafana_data:
